@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaExtraBoldOblique.eot');
    src: url('SFUFuturaExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaExtraBoldOblique.woff2') format('woff2'),
        url('SFUFuturaExtraBoldOblique.woff') format('woff'),
        url('SFUFuturaExtraBoldOblique.ttf') format('truetype'),
        url('SFUFuturaExtraBoldOblique.svg#SFUFuturaExtraBoldOblique') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaLightOblique.eot');
    src: url('SFUFuturaLightOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaLightOblique.woff2') format('woff2'),
        url('SFUFuturaLightOblique.woff') format('woff'),
        url('SFUFuturaLightOblique.ttf') format('truetype'),
        url('SFUFuturaLightOblique.svg#SFUFuturaLightOblique') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaExtraBold.eot');
    src: url('SFUFuturaExtraBold.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaExtraBold.woff2') format('woff2'),
        url('SFUFuturaExtraBold.woff') format('woff'),
        url('SFUFuturaExtraBold.ttf') format('truetype'),
        url('SFUFuturaExtraBold.svg#SFUFuturaExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBook.eot');
    src: url('SFUFuturaBook.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaBook.woff2') format('woff2'),
        url('SFUFuturaBook.woff') format('woff'),
        url('SFUFuturaBook.ttf') format('truetype'),
        url('SFUFuturaBook.svg#SFUFuturaBook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBoldOblique.eot');
    src: url('SFUFuturaBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaBoldOblique.woff2') format('woff2'),
        url('SFUFuturaBoldOblique.woff') format('woff'),
        url('SFUFuturaBoldOblique.ttf') format('truetype'),
        url('SFUFuturaBoldOblique.svg#SFUFuturaBoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBookOblique.eot');
    src: url('SFUFuturaBookOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaBookOblique.woff2') format('woff2'),
        url('SFUFuturaBookOblique.woff') format('woff'),
        url('SFUFuturaBookOblique.ttf') format('truetype'),
        url('SFUFuturaBookOblique.svg#SFUFuturaBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBold.eot');
    src: url('SFUFuturaBold.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaBold.woff2') format('woff2'),
        url('SFUFuturaBold.woff') format('woff'),
        url('SFUFuturaBold.ttf') format('truetype'),
        url('SFUFuturaBold.svg#SFUFuturaBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaOblique.eot');
    src: url('SFUFuturaOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaOblique.woff2') format('woff2'),
        url('SFUFuturaOblique.woff') format('woff'),
        url('SFUFuturaOblique.ttf') format('truetype'),
        url('SFUFuturaOblique.svg#SFUFuturaOblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaLight.eot');
    src: url('SFUFuturaLight.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaLight.woff2') format('woff2'),
        url('SFUFuturaLight.woff') format('woff'),
        url('SFUFuturaLight.ttf') format('truetype'),
        url('SFUFuturaLight.svg#SFUFuturaLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFutura.eot');
    src: url('SFUFutura.eot?#iefix') format('embedded-opentype'),
        url('SFUFutura.woff2') format('woff2'),
        url('SFUFutura.woff') format('woff'),
        url('SFUFutura.ttf') format('truetype'),
        url('SFUFutura.svg#SFUFutura') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaHeavyOblique.eot');
    src: url('SFUFuturaHeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaHeavyOblique.woff2') format('woff2'),
        url('SFUFuturaHeavyOblique.woff') format('woff'),
        url('SFUFuturaHeavyOblique.ttf') format('truetype'),
        url('SFUFuturaHeavyOblique.svg#SFUFuturaHeavyOblique') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaHeavy.eot');
    src: url('SFUFuturaHeavy.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaHeavy.woff2') format('woff2'),
        url('SFUFuturaHeavy.woff') format('woff'),
        url('SFUFuturaHeavy.ttf') format('truetype'),
        url('SFUFuturaHeavy.svg#SFUFuturaHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

